.bg-image {
  background-image: url("../../src/assets/BTThayKinhHinhAnh/background.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}
